//This is the entrypoint composition.ron. It defines a composition that, save for references to other compositions, is completely empty. This choice is by convention, but highly reccomended.
UnloadedComposition(
	crates: {},
	children: [
		CrateName(//Helpful things you get by default, including a logger, soon
			name: "custard-core"//Notice the "core" extension.
		)
	],
)